# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science.
* Python
* R
* SQL
* C++
* Java
* Javascript
* Julia

Some of the popular languages that Data Scientists use are:
1. Python 
2. Julia
3. R
4. SQL
5. Scala
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit Learn
5. Tensor Flow

|Data Science Tools|
|-|
|R Studio|
|Jupyter IDE|
|Visual Studio Code|
|Anaconde|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This a simple arithmetic expression to mutiply then add integers.
a = 3
b = 4
c = 5
result = ((a*b)+c)
print(result)

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hour = minutes/60
print(hour)

3.3333333333333335

## Author
name - Sunil Kumar Panda